.NoteHead {
	position: relative;
	width: 100%;
	height: 100%;
	background-color:var(--bla1);
	overflow: hidden;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.NoteHead:after {
	content:'';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.7;
}

.NoteHead .NoteHead__Info {
	position: relative;
	width: auto;
	height: auto;
	left: 2em;
	top:1em;
	z-index: 9999;
}

.NoteHead .NoteHead__Info .Header {
	font-family: 'Baloo', cursive;
	font-size: 3.5em;
	line-height: 0em;
	color: var(--w);
	margin-top:0.9em;
	margin-bottom: 0.6em;
	outline: none;
}

.NoteHead .NoteHead__Info .Date__Container {
	display: flex;
	flex-direction: row;
	position: relative;
	top:0.5em;
	overflow: hidden;
}

.NoteHead .NoteHead__Info .Date {
	font-family: 'Montserrat', sans-serif;
	line-height: 1em;
	font-size: 0.8em;
	color: var(--or2);
	outline: none;
}

.NoteHead .NoteHead__Info .Date__Container .Separation {
	position: relative;
	padding:0 0.1em;
	top:-0.4em;
}

.NoteHead .NoteHead__Info p {
	font-family: 'Montserrat', sans-serif;
	line-height: 0.3em;
	font-size: 0.8em;
	color: var(--or);
	opacity: 0.6;
}

.NoteHead__Info--BgimgBtn {
	position: absolute;
	display: block;
	box-sizing: border-box;
	width: 1em;
	height: 1em;
	background-color: transparent;
	background-image: url('https://firebasestorage.googleapis.com/v0/b/notnik-app.appspot.com/o/assets%2FchangeBg.svg?alt=media&token=20aed7cb-4f12-47ea-8f1c-d5870b31a0e5');
	background-size:80%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	top:-3.8em;
	right:3em;
	border:0.1em solid var(--w);
}