@use "sass:map";
@use "@/styles/variables" as *;

.editor {
    background-color: $bla4;
    box-sizing: border-box;
    color: $w;
    position: relative;
    overflow: hidden;
    border-left: 3px solid $bla0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__nav {
        background-color: $bla2;
        height: 3em;
        display: flex;
        align-items: center;
    }
}
