@use "sass:map";
@use "@/styles/variables" as *;

.grid-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.entry {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $bla4;

    &__title {
        position: absolute;
        color: $w;
        font-size: 0.8rem;
        font-family: $primary;
        font-weight: 700;
        width: 80%;
        top: 80%;
        text-align: center;
    }

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        width: 2px;
        height: 2px;
        box-shadow: 0 0 30px 35px $err;
        z-index: 0;
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }

    &:hover {
        color: $bla2;
    }

    &:active {
        color: $bla3;
    }

    &--ready-to-delete {
        &:hover {
            color: #ed3902;
        }

        &::before {
            opacity: 1;
        }
    }

    svg {
        width: 60%;
        z-index: 10;
    }
}

.submenu {
    position: absolute;
    left: map.get($navbar, sm);
    top: 0;
    background-color: $bla3;
    height: 100%;
    width: map.get($submenu, md);
    box-shadow: 0 0 10px -8px $bla1;

    @media (min-width: $md) {
        left: map.get($navbar, md);
    }

    &__list-item {
        list-style: none;
        color: $w2;
        height: 2.5em;
        display: flex;
        align-items: center;
        padding-left: 1em;
        box-sizing: border-box;
        border-top: 1px solid $bla4;
        border-bottom: 1px solid $bla4;
        font-size: 0.8rem;
        font-family: $code;
        cursor: pointer;
        position: relative;

        &:hover {
            background: $bla2;
        }

        &:focus,
        &:active {
            background: $bla3;
        }
    }
}
