.Entry__Body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: red;
  background-color: var(--bla2) !important;
}

.Input__Body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bla2) !important;
  box-sizing: border-box;
  display: block;
  color: var(--w) !important;
  padding: 3em 2em;
  text-align: justify;
  line-height: 2em;
  outline: none;
  overflow-y: scroll;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  resize: none;
}

.Input__Body::-webkit-scrollbar {
  height: 0.7em;
  width: 1em;
  cursor: pointer;
}

.Input__Body::-webkit-scrollbar-track {
  background-color: var(--bla1);
}

.Input__Body::-webkit-scrollbar-thumb {
  background-color: var(--bla3);
}

.Input__Body::-webkit-scrollbar-thumb:hover {
  background-color: var(--bla4);
}

@media (min-width: 1025px) {
  .Input__Body {
    font-size: 0.9rem;
  }
}

@media (max-width: 1025px) {
  .Input__Body {
    font-size: 0.9rem;
  }
}
