{
    "root": true,
    "env": {
        "browser": true,
        "node": true
    },
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": {
            "<template>": "espree",
            "ts": "@typescript-eslint/parser"
        }
    },
    "ignorePatterns": ["config/*", "public/*"],
    "plugins": ["@typescript-eslint", "@vue"],
    "extends": ["plugin:vue/essential", "eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
    "rules": {
        "vue/multi-word-component-names": [
            "error",
            {
                "ignores": ["index", "default", "Layout"]
            }
        ]
    }
}
