.Entry {
	position: relative;
	width: 30em;
	height: 10em;
	background-color: var(--bla1);
	border-radius: 0.5em;
	overflow: hidden;
	display: grid;
	grid-template-columns: 10em 1fr;
	grid-template-rows: 1fr;
	box-shadow: 0 0 40px -20px rgba(255,255,255,0);
	transition: all 0.2s linear;
}

.Entry *:hover, .Entry *:visited, .Entry *:link, .Entry *:active, {
	text-decoration: none;
}

.Entry:hover {
	transform:translateX(0.2em);
	background-color: var(--bla2);
	box-shadow: 0 0 40px -20px rgba(255,255,255,0.5);
}

.Entry:hover .Entry__Img:after {
	opacity: 0.1;
} 

.Entry:hover .Entry__Img:before {
	opacity: 0.1;
} 

.Entry__Img {
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.Entry__Img:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	background-color: #000;
	mix-blend-mode: color;
}

.Entry__Img:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	opacity: 0.3;
	background-color: #000;
	transition: 0.2s linear;
}

.Entry__Info {
	text-decoration: none;
	color:var(--w);
	padding:0.5em 1em;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.Entry__Info h2 {
	font-family: 'Baloo', cursive;
	font-size: 1.2em;
	line-height: 0em;
	outline: none;
}

.Entry__Info h3 {
	font-family: 'Montserrat', sans-serif;
	line-height: 1em;
	font-size: 0.7em;
	color: var(--w2);
	outline: none;
}

.Entry__Text {
	font-family: 'Montserrat', sans-serif;
	line-height: 1em;
	font-size: 0.7em;
	color: var(--w1);
	width:23em;
	outline: none;
}

.Entry--Delete {
	position: absolute;
	top:0.6em;
	right:0.6em;
	width:0.9em;
	height:0.9em;
	opacity: 0.1;
	background-image: url('http://localhost:3000/assets/delete.svg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 9999;
}
.Entry--Delete:hover {
	opacity: 1;
}