.Menu {
	position: relative;
	width:100%;
	height: 100%;
	background-color: var(--bla1);
	display: grid;
	grid-template-columns:1fr;
	grid-template-rows:1fr repeat(3, 3em) 1fr;
	grid-row-gap: 2em;
	z-index: 99999;
}
.Menu .button {
	position: relative;
	width: 100%;
	height: 100%;
	background-color:var(--bla2);
	background-repeat: no-repeat;
	background-size:40%;
	background-position: 40% 50%;
	cursor: pointer;
}

.Menu .button:hover {
	background-color:var(--bla3);
}

.Menu .button:after {
	content:'';
	position: absolute;
	width:0.2em;
	top:0;
	height:100%;
	left:calc(100% - 0.2em);
}

.Menu .button-list {
	background-image: url('https://firebasestorage.googleapis.com/v0/b/notnik-app.appspot.com/o/assets%2Flist.svg?alt=media&token=24fea949-42d0-4476-8e2e-be5e30dc5f7a');
}

.Menu .button-list:after {
	background-color: var(--rd);
}

.Menu .button-entry {
	background-image: url('https://firebasestorage.googleapis.com/v0/b/notnik-app.appspot.com/o/assets%2Fentry.svg?alt=media&token=51d9a515-d3d6-474a-924c-7c53b8318633');
}

.Menu .button-entry:after {
	background-color: var(--or2);
}

.Menu .button-save {
	background-image: url('https://firebasestorage.googleapis.com/v0/b/notnik-app.appspot.com/o/assets%2Fsave.svg?alt=media&token=db7f0055-7d75-4966-baaf-7ca8fab3595a');
}

.Menu .button-save:after {
	background-color: var(--blu);
}

.disable {
	opacity: 0.3 !important;
	pointer-events: none !important;
	cursor: none !important;
}

.confirm {
	position: relative;
}

.confirm:before {
	content:'';
	position: absolute;
	left:100%;
	top:50%;
	transform:translateY(-50%);
	z-index:0;
	width:0;
	height:0;
	opacity:0;
	background-color: var(--blu);
	box-shadow: 0 0 80px 40px var(--blu);
	animation: confirm 1.5s ease-in-out infinite;
	animation-fill-mode: forwards;
}

.waitForNewEntry {
	position: fixed;
	background-color: var(--bla1);
	width: 100vw;
	height: 100vh;
	opacity: 0.8;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 999;
}

.waitForNewEntry h2 {
	font-family: 'Baloo', cursive;
	font-size: 1.3em;
	line-height: 0em;
	outline: none;
	color:var(--w);
	z-index: 9999;
}

@keyframes confirm {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 0.8;
	}
	100% {
		opacity: 0;
	}
}