.HomeScreen {
	width:100%;
	height:100%;
	position:relative;
	background-color:var(--bla3);
	background-image: url('https://firebasestorage.googleapis.com/v0/b/notnik-app.appspot.com/o/assets%2Fchristmas-dark.png?alt=media&token=366d39a3-46c2-4c9a-bed9-a141cc3a0cd8');
	background-repeat: repeat;
	background-size: 15em;
	background-position: auto;
	box-sizing: border-box;
}

.HomeScreen::-webkit-scrollbar {
	height: 0.7em;
	width: 0.7em;
}

.HomeScreen::-webkit-scrollbar-track {
	background:var(--bla1);
}
.HomeScreen::-webkit-scrollbar-thumb {
	background:var(--bla4);
}
.HomeScreen::-webkit-scrollbar-thumb:hover {
	background:var(--bla3);
}

.copyright {
	top:50%;
	transform:rotateZ(-90deg) translateY(-50%);
	right:-8em;
	position: absolute;
	font-size: 0.5em;
	color: var(--w);
}