@use "sass:map";
@use "@/styles/variables" as *;

.navbar {
    background-color: $bla1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 2em;
    &__button {
        height: 2.5em;
        width: 100%;
        background-color: $bla2;
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: 40% 50%;
        cursor: pointer;
        transition: 0.4s opacity;
        border: none;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            width: 0.2em;
            top: 0;
            height: 100%;
            left: calc(100% - 0.2em);
        }
        @media (min-width: $md) {
            height: 3.5em;
        }
    }
    &__new {
        background-image: url("@assets/new.svg");
        &:after {
            background-color: $g;
        }
    }
    &__list {
        background-image: url("@assets/list.svg");
        &:after {
            background-color: $or2;
        }
    }
    &__settings {
        background-image: url("@assets/settings.svg");
        &:after {
            background-color: $blu;
        }
    }
    &__delete {
        background-image: url("@assets/delete.svg");
        transition: box-shadow 0.3s ease-out;
        &:after {
            background-color: $err;
        }
        &--active {
            box-shadow: 0px 0px 35px 5px rgba(236, 78, 32, 0.5);
        }
    }
    &__logout {
        background-color: $bla1;
        background-image: url("@assets/logout.svg");
        background-position: center center;
        position: absolute;
        bottom: 0;
    }
    &--inactive {
        pointer-events: none;
        opacity: 0.2;
        .navbar__logout {
            display: none;
            opacity: 0;
            visibility: hidden;
        }
    }
}
