.CodeMirror {
    &::-webkit-scrollbar {
        height: 1em;
        width: 1em;
    }

    &::-webkit-scrollbar-track {
        background: $bla1;
    }
    &::-webkit-scrollbar-thumb {
        background: $bla3;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: $bla4;
    }
    &::-webkit-scrollbar-thumb:active {
        background: $bla2;
    }

    line-height: 2rem;
    background-color: $bla1 !important;
    color: $w !important;
    border: none;
    box-sizing: border-box;
    padding: 2em;
    height: calc(100vh - 40em);
    @media screen and (min-width: 900px) {
        height: calc(100vh - 30em);
    }
    @media screen and (min-width: 1200px) {
        height: calc(100vh - 35em);
    }
}
.CodeMirror-gutters {
    color: #282a36;
}
.CodeMirror-cursor {
    border-left: solid thin $w;
}
.CodeMirror-linenumber {
    color: #6d8a88;
}
.CodeMirror-selected {
    background: $rd;
}
.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
    background: $rd;
}
.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
    background: $rd;
}
span.cm-comment {
    color: #6272a4;
}
span.cm-string,
span.cm-string-2 {
    color: #f1fa8c;
}
span.cm-number {
    color: #bd93f9;
}
span.cm-variable {
    color: #50fa7b;
}
span.cm-variable-2 {
    color: white;
}
span.cm-def {
    color: #50fa7b;
}
span.cm-operator {
    color: #ff79c6;
}
span.cm-keyword {
    color: #ff79c6;
}
span.cm-atom {
    color: #bd93f9;
}
span.cm-meta {
    color: #f8f8f2;
}
span.cm-tag {
    color: #ff79c6;
}
span.cm-attribute {
    color: #50fa7b;
}
span.cm-qualifier {
    color: #50fa7b;
}
span.cm-property {
    color: #66d9ef;
}
span.cm-builtin {
    color: #50fa7b;
}
span.cm-variable-3,
span.cm-type {
    color: #ffb86c;
}

.CodeMirror-activeline-background {
    background: rgba(255, 255, 255, 0.1);
}
.CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}
