$bla1: #222220;
$bla2: #353531;
$bla3: #2c2c2a;
$bla4: #464643;

$w: #f9f9f9;
$w2: #c7c7c7;
$w3: #8a8a8a;
$w4: #757575;

$err: #ec4e20;
$rd: #2176ae;
$g: #3fc577;
$blu: #00a6ed;
$or: #ff9505;
$or2: #ffb627;

$primary: "Source Sans Pro", sans-serif;
$code: "Roboto Mono", Monaco, courier, monospace;

$md: 768px;
$lg: 1024px;
$xlg: 1280px;
$xl: 1440px;
$xl2: 1920px;
