@import "variables";

body {
    margin: 0;
    padding: 0;
    background-color: $bla1;
}

h2,
p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
