:root {
	--bla1 : #222220;
	--bla2 : #353531;
	--bla3 : #2C2C2A;
	--bla4 : #464643;
	--rd : #ec4e20;
	--g: #3FC577;
	--blu : #00A6ED;
	--or : #ff9505;
	--or2 : #FFB627;
	--w : #f9f9f9;
	--w2 : #B2B2B2;
}

::selection {
	color:var(--rd);
}

body {
  margin: 0;
  padding:0;
  background-color: #222220;
  width: 100%;
  height: 100%;
  position: absolute;
}

::-webkit-scrollbar {
	height: 0.7em;
	width: 0.7em;
}

::-webkit-scrollbar-track {
	background:var(--bla1);
}
::-webkit-scrollbar-thumb {
	background:var(--bla4);
}
::-webkit-scrollbar-thumb:hover {
	background:var(--bla3);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}