.Noresult {
	width: 20em;
	height: 8em;
	border-radius: 0.5em;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:var(--bla1);
	flex-direction: column;
	top:22vh;
	left:50%;
	transform:translateX(-50%);
	box-shadow: 0 0 100px -50px var(--w);
}

.Noresult h2 {
	font-family: 'Baloo', cursive;
	font-size: 2em;
	line-height: 0em;
	color:var(--w);
}

.Noresult h3 {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5em;
	font-size: 0.7em;
	font-weight: 400;
	color: var(--w);
	width: 23em;
	text-align: center;
}

.Noresult--alert {
	color:var(--rd) !important;
}